a.category-filter {
    color:inherit;
    text-decoration: none; /* no underline */
}

.product-name {
    min-height: 55px;
}

.no-result-card {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
    padding: 15px 18px;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--white);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
  }


  .shop-widget-list li {
    margin-right: 5px;
}