.btnCreate, .btnChangePassword {
    padding-top: 0;
    border-radius: 8px;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background: var(--primary);
}

#inputEmail {
    margin-bottom: 7px;
}

.emailNotValidate {
    color: #D32F2F;
    font-weight: 600;
    margin-left: 20px;
}

.emailValidate {
    color: #388E3C;
    font-weight: 400;
    margin-left: 20px;
    
}
